.home-container{
    padding: 20px;
    h2.ant-typography, h4.ant-typography{
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        font-weight: 500;
    }
    h2.ant-typography{
        font-size: 25px;
    }
    .discover-container{
        margin-bottom: 50px;
        .discover-caraousel{
            .slick-slide{
                padding: 10px;
            }
            .slick-dots-bottom{
                bottom: -30px;
            }
            .card-item-discover{
                position: relative;
                .ant-image{
                    width: 100%;
                    border-radius: 16px;
                    padding: 0px;
                    .ant-image-img{
                        width: 100%;
                        border-radius: 16px;
                        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                        0 12.5px 10px rgba(0, 0, 0, 0.06),
                        0 9px 17.9px rgba(0, 0, 0, 0.072),
                    }
                }
                .info-container{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    width: 100%;
                    color: #FFFFFF;
                    display: flex;
                    flex-direction: column-reverse;
                    .info-wrapper{
                        background-color: rgba(0, 0, 0, 0.4);
                        border-bottom-right-radius: 16px;
                        border-bottom-left-radius: 16px;
                        position: relative;
                        margin-bottom: 6px;
                        padding: 8px 20px;
                    }
                    .ant-typography{
                        color: #FFFFFF;
                    }
                    h5.ant-typography{
                        margin: 0;
                    }
                    span.ant-typography{
                        opacity: 0.7;
                    }
                    .rating-wrapper{
                        position: absolute;
                        top: 0;
                        right: 20px;
                    }
                }
            }
        }
    }
    .popular-container{
        margin: 10px 0px 5px 0px;
    }

    .toprated-container{
        margin-bottom: 20px;
        .toprated-list-container{
            .toprated-item{
                .card-rated-container{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    .image-wrapper{
                        width: 100%;
                        max-width: 120px;
                        padding: 0px 10px;
                        .ant-image{
                            .ant-image-img{
                                border-radius: 10px;
                                box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                                0 12.5px 10px rgba(0, 0, 0, 0.06),
                                0 9px 17.9px rgba(0, 0, 0, 0.072);
                            }
                        }
                    }
                    
                    .info-rated-wrapper{
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;
                        .info-year{
                            color: #c2c2c2;
                            font-weight: 500;
                            height: 30px;
                        }

                        .info-popularity{
                            height: 30px;
                        }

                        .info-title{
                            flex: 1 1 auto;
                            font-size: 14px;
                            font-weight: 500;
                            a{
                                color: #bef9ff;
                            }
                        }
                    }
                }
            }
        }
    }

    .upcoming-container{

    }

    .card-populer-container{
        .img-container{
            position: relative;
            border-radius: 10px;
            
            .ant-image{
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 9px 17.9px rgba(0, 0, 0, 0.072);
                background-color: transparent;
                overflow: hidden;
                transition: all 0.3s ease-out;
                .ant-image-img{
                    opacity:1;
                    transition: all 0.3s ease-out;
                }
                
            }
            &:hover{
                .ant-image{
                    background-color: black;
                    .ant-image-img{
                        opacity: 0.5;
                        transform: scale(1.1);
                    }
                }
            }
            .overlay-info{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                opacity: 0;
                border-radius: 10px;
                min-height: 240px;
                .info-rate{
                    position: absolute;
                    top: 0;
                    right: 10px;
                    opacity: 0;
                    transition: all 0.2s ease-out;
                    color: #FFFFFF;
                }
            }

            &:hover{
                .overlay-info{
                    opacity: 1;
                    .info-rate{
                        opacity: 1;
                    }
                }
            }
        }
        .desc-container{
            margin-bottom: 30px;
            .desc-title{
                color: #FFFFFF;
                .ant-typography-ellipsis{
                    color: #bef9ff;
                    font-size: 16px;
                    margin-bottom: 0px;
                }
            }
            .desc-release-year{
                color: #c2c2c2;
                font-weight: 500;
            }
        }
    }

    .sub-title-section{
        font-family:'Poppins', Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 400;   
        margin-bottom: 10px;
    }
    @media only screen and (max-width: 480px){
        padding: 0px;
    }

    @media only screen and (max-width: 768px){
        
    }

    @media only screen and (max-width: 1024px){
        
    }
}